@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter var", sans-serif;
  font-size: x-large;
  color: #f4f4f5;
  background-color: #09090b;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
